# Local server values
PORT=5500
HOST='localhost'

# Database values
DB_HOST='localhost'
DB_USER='cse340'
PORT = '5432'
DB_PASSWORD='c1uJutDJhOSfvs09GK3iRype6S8S7imr'
DB_NAME='cse340_6hwh'     
INTERNAL_DATABASE_URL='postgresql://cse340:c1uJutDJhOSfvs09GK3iRype6S8S7imr@dpg-d2u5jrjuibrs73fc5tc0-a/cse340_6hwh'
EXTERNAL_DATABASE_URL='postgresql://cse340:c1uJutDJhOSfvs09GK3iRype6S8S7imr@dpg-d2u5jrjuibrs73fc5tc0-a.singapore-postgres.render.com/cse340_6hwh'