# Local server values
PORT=5000
HOST='localhost'

NODE_ENV='development'

DATABASE_URL='postgresql://cse340s:lO4NJESAAk3ebS5vPQGYoWij9RbZYWqc@dpg-d35snkripnbc739ou7hg-a.singapore-postgres.render.com/cse340s_5ry2'